[Unit]
Description=SnailLoad demo server

[Service]
User=demoserver
Group=demoserver
; TODO: Adjust the binary path as needed
ExecStart=/home/demoserver/demo_server -p 80
WorkingDirectory=~
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
